:root {
  --black: rgba(45, 45, 45, 1);
  --body-text-font-family: "Epilogue", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 17px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 27px;
  --body-text-font-style: normal;
  --h3-font-family: "Epilogue", Helvetica;
  --h3-font-weight: 600;
  --h3-font-size: 27px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 42px;
  --h3-font-style: normal;
  --subtitle-font-family: "Epilogue", Helvetica;
  --subtitle-font-weight: 600;
  --subtitle-font-size: 20px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 30px;
  --subtitle-font-style: normal;
  --color-text-neutral-on-neutral: var(--color-primitives-slate-100);
  --color-text-positive-default: var(--color-primitives-green-800);
  --color-text-positive-on-positive-secondary: var(--color-primitives-green-800);
  --system-colors-colors-orange: rgba(255, 149, 0, 1);
  --system-colors-labels-primary: rgba(0, 0, 0, 1);
  --color-primitives-slate-100: rgba(243, 243, 243, 1);
  --color-primitives-green-800: rgba(2, 84, 45, 1);
  --color-primitives-green-100: rgba(235, 255, 238, 1);
  --color-primitives-green-200: rgba(207, 247, 211, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-text-positive-default: var(--color-primitives-green-800);
  --color-text-positive-on-positive-secondary: var(--color-primitives-green-800);
}

[data-color-mode="brand-b-light"] {
  --color-text-positive-default: var(--color-primitives-green-800);
  --color-text-positive-on-positive-secondary: var(--color-primitives-green-800);
}

[data-system-colors-mode="light"] {
  --system-colors-colors-orange: rgba(255, 149, 0, 1);
  --system-colors-labels-primary: rgba(0, 0, 0, 1);
}

[data-system-colors-mode="dark"] {
  --system-colors-colors-orange: rgba(255, 159, 10, 1);
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
}

[data-system-colors-mode="dark-elevated"] {
  --system-colors-colors-orange: rgba(255, 159, 10, 1);
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
}

[data-system-colors-mode="IC-light"] {
  --system-colors-colors-orange: rgba(201, 52, 0, 1);
  --system-colors-labels-primary: rgba(0, 0, 0, 1);
}

[data-system-colors-mode="IC-dark"] {
  --system-colors-colors-orange: rgba(255, 179, 64, 1);
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
}

[data-system-colors-mode="IC-dark-elevated"] {
  --system-colors-colors-orange: rgba(255, 179, 64, 1);
  --system-colors-labels-primary: rgba(255, 255, 255, 1);
}

[data-color-mode="SDS-dark"] {
  --color-text-positive-default: var(--color-primitives-green-200);
  --color-text-positive-on-positive-secondary: var(--color-primitives-green-100);
}
