.element-portfolio {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-portfolio .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .navigation {
  position: relative;
  width: 1280px;
  height: 80px;
  background-color: #ffffff;
}

.element-portfolio .asset {
  position: absolute;
  width: 91px;
  height: 80px;
  top: 0;
  left: 15px;
  object-fit: cover;
}

.element-portfolio .menu {
  position: absolute;
  width: 25px;
  height: 23px;
  top: 29px;
  left: 1207px;
}

.element-portfolio .ellipse {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 17px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.element-portfolio .div {
  top: 15px;
  left: 17px;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.element-portfolio .ellipse-2 {
  top: 0;
  left: 0;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.element-portfolio .ellipse-3 {
  top: 15px;
  left: 0;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.element-portfolio .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1280px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .header {
  display: flex;
  flex-direction: column;
  height: 755px;
  align-items: flex-start;
  gap: 10px;
  padding: 100px;
  position: relative;
  align-self: stretch;
  width: 1280px;
  background-color: #ffffff;
  overflow: hidden;
}

.element-portfolio .image {
  position: absolute;
  width: 510px;
  height: 435px;
  top: 100px;
  right: 100px;
  left: auto;
  object-fit: cover;
  border-radius: 30px;
}

.element-portfolio .headline-subhead {
  position: relative;
  width: 557px;
  height: 380px;
  z-index: 1;
  margin-bottom: 40px;
}

.element-portfolio .headline-subhead-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  top: 0;
}

.element-portfolio .text-wrapper {
  position: relative;
  width: 557px;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--colorsorange);
  font-size: 128px;
  letter-spacing: 0;
  line-height: 128px;
}

.element-portfolio .i-am-robert-s-le {
  position: relative;
  width: 557px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--black);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 76px;
  margin-bottom: 20px;
}

.element-portfolio .and-i-made-it-myself {
  position: relative;
  width: 557px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
  z-index: 1;
  margin-top: 40px;
}

.element-portfolio .union {
  position: absolute;
  width: 49px;
  height: 49px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.element-portfolio .text-wrapper-2 {
  position: absolute;
  width: 419px;
  height: 90px;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--colorsorange);
  font-size: 80px;
  letter-spacing: 0;
  line-height: 90px;
  white-space: nowrap;
  text-align: center;
  z-index: 1;
}

.element-portfolio .logos-section {
  display: flex;
  height: 263px;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.element-portfolio .logos {
  position: relative;
  width: 1120px;
  height: 247px;
}

.element-portfolio .skills-section {
  display: flex;
  flex-direction: column;
  height: 543px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 180px 140px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.element-portfolio .skills {
  display: inline-flex;
  align-items: flex-start;
  gap: 125px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -99.50px;
  margin-bottom: -99.50px;
}

.element-portfolio .skill {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  position: relative;
  flex: 0 0 auto;
  transition: all 0.2s ease;
}

.element-portfolio .skill:hover {
  transform: translate(0, -5px);
}

.element-portfolio .skill-2 {
  gap: 56px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .image-placeholder {
  position: relative;
  width: 130px;
  height: 130px;
  box-shadow: 0px 4px 4px #6d7bea40;
  background: linear-gradient(
      180deg,
      rgba(255, 223, 15, 0) 0%,
      rgba(255, 223, 15, 0.2) 100%
    ), url(https://c.animaapp.com/md2qngs8fkuHHI/img/image-placeholder.png) 50%
    50% / cover;
  border-radius: 30px;
}

.element-portfolio .headline-subhead-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .main-title {
  position: relative;
  width: 249.9px;
  margin-top: -1.00px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: var(--black);
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  font-style: var(--h3-font-style);
}

.element-portfolio .this-is-a-template {
  position: relative;
  width: 249.9px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  text-align: center;
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.element-portfolio .skill-wrapper {
  gap: 54px;
  transition: all 0.2s ease;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .skill-wrapper:hover {
  transform: translate(0, -5px);
}

.element-portfolio .image-placeholder-2 {
  background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0) 0%,
      rgba(255, 0, 0, 0.2) 100%
    ), url(https://c.animaapp.com/md2qngs8fkuHHI/img/image-placeholder-1.png)
    50% 50% / cover;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 30px;
}

.element-portfolio .image-placeholder-3 {
  background: linear-gradient(
      180deg,
      rgba(42, 81, 254, 0) 0%,
      rgba(42, 81, 254, 0.2) 100%
    ), url(https://c.animaapp.com/md2qngs8fkuHHI/img/image-placeholder-2.png)
    50% 50% / cover;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 30px;
}

.element-portfolio .latest-work-section {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  max-width: 1280px;
  align-items: center;
  gap: 120px;
  padding: 40px 100px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.element-portfolio .img {
  position: absolute;
  width: 1286px;
  height: 103px;
  top: 40px;
  left: -3px;
}

.element-portfolio .my-latest-work {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--colorsorange);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 42px;
  white-space: nowrap;
}

.element-portfolio .work-cards-mobile {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -57.00px;
  margin-right: -57.00px;
}

.element-portfolio .work-card {
  height: 8px;
  display: flex;
  flex-direction: column;
  width: 1194px;
  align-items: flex-start;
  gap: 25px;
  position: relative;
}

.element-portfolio .work-card-2 {
  display: flex;
  flex-direction: column;
  width: 1194px;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .frame-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-portfolio .frame-3 {
  display: flex;
  width: 1194px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.element-portfolio .image-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 30px;
  overflow: hidden;
}

.element-portfolio .image-2 {
  position: relative;
  width: 680px;
  height: 680px;
  border-radius: 30px;
  object-fit: cover;
}

.element-portfolio .frame-4 {
  display: flex;
  flex-direction: column;
  width: 489px;
  height: 680px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.element-portfolio .headline-subhead-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-portfolio .text-wrapper-3 {
  position: relative;
  width: 315px;
  margin-top: -1.00px;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--black);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.element-portfolio .text {
  position: relative;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.element-portfolio .headline-subhead-5 {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 87px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.element-portfolio .UI-art-drection {
  position: relative;
  width: 315px;
  margin-bottom: -6.00px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.element-portfolio .image-3 {
  position: relative;
  width: 680px;
  height: 680px;
  border-radius: 30px;
  object-fit: cover;
}

.element-portfolio .work-card-3 {
  height: 1px;
  display: flex;
  flex-direction: column;
  width: 1194px;
  align-items: flex-start;
  gap: 25px;
  position: relative;
}

.element-portfolio .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0px 100px 70px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.element-portfolio .footer-info {
  align-items: center;
  gap: 70px;
  padding: 70px 0px 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #00000033;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .footer-info-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 190px;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .contact-info {
  display: inline-flex;
  flex-direction: column;
  height: 466px;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .div-2 {
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .let-s-work-together {
  position: relative;
  width: 360px;
  height: 201px;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 800;
  color: var(--colorsorange);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 62px;
}

.element-portfolio .whether-you-re {
  position: relative;
  width: 360px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: transparent;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.element-portfolio .span {
  color: #2d2d2d;
  font-family: var(--body-text-font-family);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-size: var(--body-text-font-size);
}

.element-portfolio .text-wrapper-4 {
  color: #c57804;
  font-family: var(--body-text-font-family);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-size: var(--body-text-font-size);
}

.element-portfolio .social-icons {
  position: relative;
  width: 232px;
  height: 36px;
  margin-bottom: -60.00px;
}

.element-portfolio .text-fields {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.element-portfolio .text-input-desktop {
  width: 530px;
  padding: 21px 30px;
  position: relative;
  background-color: #f3f3f3;
  border: 0;
  flex: 1;
  flex-grow: 1;
  height: 27px;
  margin-top: -1.00px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.element-portfolio .write-something-wrapper {
  display: flex;
  width: 530px;
  align-items: flex-start;
  gap: 10px;
  padding: 21px 30px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3f3f3;
}

.element-portfolio .write-something {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 189px;
  margin-top: -1.00px;
  background-color: transparent;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  border: 0;
  padding: 0;
  font-style: var(--body-text-font-style);
}

.element-portfolio .write-something::placeholder {
  color: #2d2d2d99;
}

.element-portfolio .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 25px 82px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--colorsorange);
}

.element-portfolio .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--labelsprimary);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}
