.frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.frame .navigation {
  position: relative;
  width: 1280px;
  height: 80px;
  background-color: #ffffff;
}

.frame .asset {
  position: absolute;
  width: 91px;
  height: 80px;
  top: 0;
  left: 15px;
  object-fit: cover;
}

.frame .menu {
  position: absolute;
  width: 25px;
  height: 23px;
  top: 29px;
  left: 1207px;
}

.frame .ellipse {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 17px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.frame .div {
  top: 15px;
  left: 17px;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.frame .ellipse-2 {
  top: 0;
  left: 0;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.frame .ellipse-3 {
  top: 15px;
  left: 0;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  width: 1280px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .header {
  display: flex;
  flex-direction: column;
  height: 755px;
  align-items: flex-start;
  gap: 10px;
  padding: 100px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.frame .image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 708px;
  object-fit: cover;
}

.frame .headline-subhead {
  position: relative;
  width: 557px;
  height: 317px;
}

.frame .headline-subhead-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  top: 67px;
}

.frame .text-wrapper {
  position: relative;
  width: 557px;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: #ff9500;
  font-size: 128px;
  letter-spacing: 0;
  line-height: 30px;
}

.frame .i-am-robert-s-le {
  position: relative;
  width: 557px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--black);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 90px;
}

.frame .and-i-made-it-myself {
  position: relative;
  width: 557px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.frame .union {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 645px;
  left: 849px;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 419px;
  height: 90px;
  top: 626px;
  left: 419px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: #ff9500;
  font-size: 80px;
  letter-spacing: 0;
  line-height: 90px;
  white-space: nowrap;
}

.frame .logos-section {
  display: flex;
  height: 263px;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.frame .logos {
  display: flex;
  width: 1120px;
  height: 247px;
  align-items: center;
  justify-content: center;
  gap: 153px;
  padding: 60px 0px;
  position: relative;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #00000033;
}

.frame .img {
  position: relative;
  width: 89px;
  height: 89px;
  object-fit: cover;
}

.frame .figma-icon-mono-line {
  position: relative;
  width: 134px;
  height: 167.5px;
  margin-top: -20.25px;
  margin-bottom: -20.25px;
  object-fit: cover;
}

.frame .google {
  position: relative;
  width: 105.4px;
  height: 34px;
}

.frame .skills-section {
  display: flex;
  flex-direction: column;
  height: 543px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 180px 140px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.frame .skills {
  display: inline-flex;
  align-items: flex-start;
  gap: 125px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -99.50px;
  margin-bottom: -99.50px;
}

.frame .skill {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  position: relative;
  flex: 0 0 auto;
  transition: all 0.2s ease;
}

.frame .skill:hover {
  transform: translate(0, -5px);
}

.frame .skill-2 {
  gap: 56px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .image-placeholder {
  position: relative;
  width: 130px;
  height: 130px;
  box-shadow: 0px 4px 4px #6d7bea40;
  background-image: url(https://c.animaapp.com/q7zuOXVj/img/image-placeholder@2x.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .headline-subhead-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}

.frame .main-title {
  position: relative;
  width: 249.9px;
  margin-top: -1.00px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: var(--black);
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  font-style: var(--h3-font-style);
}

.frame .this-is-a-template {
  position: relative;
  width: 249.9px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  text-align: center;
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.frame .skill-wrapper {
  gap: 54px;
  transition: all 0.2s ease;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .skill-wrapper:hover {
  transform: translate(0, -5px);
}

.frame .image-placeholder-2 {
  background-image: url(https://c.animaapp.com/q7zuOXVj/img/image-placeholder-1@2x.png);
  position: relative;
  width: 130px;
  height: 130px;
  background-size: cover;
  background-position: 50% 50%;
}

.frame .image-placeholder-3 {
  background-image: url(https://c.animaapp.com/q7zuOXVj/img/image-placeholder-2@2x.png);
  position: relative;
  width: 130px;
  height: 130px;
  background-size: cover;
  background-position: 50% 50%;
}

.frame .latest-work-section {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  max-width: 1280px;
  align-items: center;
  gap: 120px;
  padding: 40px 100px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .ellipse-4 {
  position: absolute;
  width: 1286px;
  height: 103px;
  top: 40px;
  left: -3px;
}

.frame .my-latest-work {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: #ff9500;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 42px;
  white-space: nowrap;
}

.frame .work-cards-mobile {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -57.00px;
  margin-right: -57.00px;
}

.frame .work-card {
  height: 8px;
  display: flex;
  flex-direction: column;
  width: 1194px;
  align-items: flex-start;
  gap: 25px;
  position: relative;
}

.frame .work-card-2 {
  display: flex;
  flex-direction: column;
  width: 1194px;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.frame .frame-wrapper {
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .div-3 {
  width: 1194px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.frame .image-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.frame .image-2 {
  position: relative;
  width: 680px;
  height: 680px;
}

.frame .div-4 {
  flex-direction: column;
  width: 489px;
  height: 680px;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.frame .headline-subhead-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  position: relative;
  width: 315px;
  margin-top: -1.00px;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--black);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.frame .text {
  position: relative;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.frame .headline-subhead-5 {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 87px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.frame .UI-art-drection {
  position: relative;
  width: 315px;
  margin-bottom: -6.00px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.frame .image-3 {
  position: relative;
  width: 680px;
  height: 680px;
  object-fit: cover;
}

.frame .work-card-3 {
  height: 1px;
  display: flex;
  flex-direction: column;
  width: 1194px;
  align-items: flex-start;
  gap: 25px;
  position: relative;
}

.frame .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0px 100px 70px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .footer-info {
  align-items: center;
  gap: 70px;
  padding: 70px 0px 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #00000033;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.frame .footer-info-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 190px;
  position: relative;
  flex: 0 0 auto;
}

.frame .contact-info {
  display: inline-flex;
  flex-direction: column;
  height: 466px;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-5 {
  align-items: flex-start;
  gap: 40px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.frame .let-s-work-together {
  position: relative;
  width: 360px;
  height: 201px;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 800;
  color: #ff9500;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 62px;
}

.frame .whether-you-re {
  position: relative;
  width: 360px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: transparent;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.frame .span {
  color: #2d2d2d;
  font-family: var(--body-text-font-family);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-size: var(--body-text-font-size);
}

.frame .text-wrapper-4 {
  color: #c57804;
  font-family: var(--body-text-font-family);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-size: var(--body-text-font-size);
}

.frame .social-icons {
  position: relative;
  width: 232px;
  height: 36px;
  margin-bottom: -60.00px;
}

.frame .nstagram {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 147px;
}

.frame .vector {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 5px;
  left: 5px;
}

.frame .behance {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 196px;
}

.frame .vector-2 {
  position: absolute;
  width: 30px;
  height: 19px;
  top: 9px;
  left: 3px;
}

.frame .dribbble {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 98px;
}

.frame .vector-3 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 3px;
}

.frame .facebook {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 49px;
}

.frame .vector-4 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 4px;
  left: 4px;
}

.frame .discord {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
}

.frame .vector-5 {
  position: absolute;
  width: 25px;
  height: 28px;
  top: 4px;
  left: 4px;
}

.frame .text-fields {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-input-desktop {
  width: 530px;
  padding: 21px 30px;
  position: relative;
  background-color: #f3f3f3;
  border: 0;
  flex: 1;
  flex-grow: 1;
  height: 27px;
  margin-top: -1.00px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.frame .write-something-wrapper {
  display: flex;
  width: 530px;
  align-items: flex-start;
  gap: 10px;
  padding: 21px 30px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3f3f3;
}

.frame .write-something {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 189px;
  margin-top: -1.00px;
  background-color: transparent;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  border: 0;
  padding: 0;
  font-style: var(--body-text-font-style);
}

.frame .write-something::placeholder {
  color: #2d2d2d99;
}

.frame .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 25px 82px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ff9500;
}

.frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}
